@font-face {
  font-family: "Inter";
  src: local("Inter"), local("inter"), 
    url(./interregular.woff2) format("woff2"),
    url(./interregular.woff) format("woff"),
    url(./interregular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("inter"), 
      url(./interbold.woff2) format("woff2"),
      url(./interbold.woff) format("woff"),
      url(./interbold.ttf) format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: "EB Garamond";
    src: local("EB Garamond"), local("ebgaramond"), local("EBGaramond"),
      url(./ebgaramondmedium.woff2) format("woff2"),
      url(./ebgaramondmedium.woff) format("woff"),
      url(./ebgaramondmedium.ttf) format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "EB Garamond";
    src: local("EB Garamond"), local("ebgaramond"), local("EBGaramond"),
      url(./ebgaramondregular.woff2) format("woff2"),
      url(./ebgaramondregular.woff) format("woff"),
      url(./ebgaramondregular.ttf) format("truetype");
    font-weight: normal;
  }
